.u-section-1 {
  min-height: 484px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 474px;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 57px;
  height: 57px;
  object-position: 50% 0%;
  background-image: url("images/sam11.jpg");
  background-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 26px;
}

.u-section-1 .u-icon-1 {
  height: 56px;
  width: 56px;
  margin: 25px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 16px;
}

.u-section-1 .u-icon-2 {
  height: 56px;
  width: 56px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 4px;
}

.u-section-1 .u-icon-3 {
  height: 56px;
  width: 56px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 26px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 478px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 209px;
  min-height: 64px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -30px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 -5px;
}

.u-section-1 .u-text-6 {
  margin: 34px auto 0 16px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 36px auto 0 282px;
}

.u-section-1 .u-form-1 {
  height: 67px;
  margin: -56px 493px 0 274px;
}

.u-block-a4b1-37 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 394px;
  }

  .u-section-1 .u-group-1 {
    width: 570px;
    margin-top: -70px;
    margin-left: -25px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 109px;
  }

  .u-section-1 .u-form-1 {
    width: 650px;
    margin-right: 406px;
    margin-left: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 106px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 564px;
    margin-right: 311px;
    margin-left: 92px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 206px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
    margin-right: 289px;
    margin-left: 70px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-right: 159px;
    margin-left: 0;
  }
}